body{
    height: auto !important;
   
}

.header{
    opacity: 0.8;
}

.footer{
    position: sticky !important;
    bottom: 0 !important;
    width: 100%;
    opacity: 0.8;

}


.home{
    background: url("../src/assets/video/country2.mp4");
    opacity: 0.9;
}

@media screen and (max-width: 912px) and (max-height: 1368px) {
    .home {
        margin-top: 10rem !important;
        display: flex;
        flex-direction:column-reverse !important;
        row-gap: 5rem !important;
    }
    .box2{
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;

        p{
            line-height: 3rem;
        }
    }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
    .home {
        margin-top: 10rem !important;
        display: flex;
        flex-direction:column-reverse !important;
        row-gap: 5rem !important;
    }
    .box1{

        .video{
            border-radius: 0 !important;
        }
    }
    .box2{
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;

        p{
            line-height: 3rem;
            color: black !important;
        }
    }
}
